<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Mapping details -->
		<mapping package="rs.fonis.domain" />
		<mapping class="rs.fonis.domain.User" />
		<mapping class="rs.fonis.domain.Post" />
	</session-factory>
</hibernate-configuration>
